.project {
    &-hr__line {
        width: 100%;
        height: 1px;
        background: #442878;
    }
    &-subTitle {
        color: #b8b2cd;
        font-size: 14px;
    }
    &-subHeading__color {
        color: #b8b2cd;
    }
}
