.audio_card_wrapper {
    .audio-card {
      background-color: $dark-blue;
      border-radius: 8px !important;
      margin-bottom: 32px;
      padding: 8px;
      font-family: "Roboto";
      position: relative;
      &:hover {
        box-shadow: 0px 4px 60px rgba(105, 63, 224, 0.32);
      }
      .audio-card-left {
        @include flexbox();
        h4 {
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          margin: 0;
          padding-bottom: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 15px;
        }
        span {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #ffffff;
          opacity: 0.7;
        }
      }
      .audio-card-rating {
        div {
          font-style: normal;
          font-weight: $regular-weight;
          font-size: 12px;
          color: $white-opacity;
          white-space: nowrap;
        }
      }
  
      .artist-img {
        position: relative;
        top: 2px;
        @include flexbox();
        @include align-items(center);
        margin-top: 1px;
      }
      .music-sec {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        margin-top: 12px;
      }
      .music-player {
        width: 100%;
      }
      .play-btn {
        border: 0;
        background: transparent;
        position: relative;
        bottom: 3px;
      }
      .audio-title-time {
        font-style: normal;
        font-weight: 450;
        font-size: 12px;
        line-height: 15px;
        color: #f2f2f2;
        margin: 0;
      }
    }
  }
  .audio-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    @media screen and (min-width: 0px) and (max-width: 425px) {
      margin-bottom: 30px;
    }
    h4 {
      font-style: normal;
      font-weight: $bold-weight;
      font-size: 28px;
      margin: 0;
      padding-left: 9px;
  
      @media screen and (min-width: 0px) and (max-width: 425px) {
        font-size: 18px;
      }
    }
    a {
      font-style: normal;
      font-weight: 450;
      font-size: 18px;
      text-decoration: underline !important;
      cursor: pointer;
      padding-right: 19px;
      @media screen and (min-width: 0px) and (max-width: 425px) {
        font-size: 12px;
      }
    }
  }
  
  .waves-wrapper {
    position: relative;
   & .rhap_container {
      background-color: transparent;
      padding: 0 15px;
      min-height: 0 !important;
      width: 100% !important
    }
   & .rhap_volume-container {
      display: none;
    }
   & .rhap_additional-controls {
      display: none;
    }
   & .rhap_button-clear {
      position: absolute;
      top: -8px;
      margin-right: 12px;
    }
   & .rhap_total-time {
      display: none !important;
    }
   & .rhap_time {
      color: #fff;
      font-size: 12px;
      position: absolute;
      right: 0;
    }
   & .rhap_play-pause-button {
      font-size: 25px;
    }
   & .rhap_main-controls-button {
      color: #fff;
    }
  
   & .rhap_progress-container {
      margin: 0px calc(16px + 1%) !important;
    }
   & .rhap_progress-indicator {
      width: 15px;
      height: 15px;
      margin-left: -8px;
      top: -5px;
      background: #fff;
    }
   & .rhap_stacked .rhap_controls-section {
      margin-top: 0px;
    }
  }
  
  .audio_card_detail_wrapper{
    & h4{
      font-size: 1rem;
    }
  }