// .footer {
//     background: #140e27 !important;
//     &-social {
//         & a {
//             background: inherit;
//             &:hover {
//                 color: inherit;
//             }
//             margin: 0 5px;
//             border-radius: 16px;
//         }
//     }
// }

.footer {
    background: $--footer-bg;
    text-align: center;
    justify-content: center;
    padding: 40px 0;
}
.footer-text {
    opacity: 0.5;
}
.footer-text span {
    padding: 0 10px;
    font-size: 14px;
}
.footer-img img {
    padding: 0 10px;
}
@media only screen and (max-width: 576px) {
    .footer-text span {
        font-size: 12px;
    }
}
